.container {
    display: flex;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.container > li {
    flex: 1;
    display: inline;
  }

  li {
      display: inline;
  }
  @media all and (max-width: 600px) {
  
    .container {
      flex-wrap: wrap;
    }
    
    .container > li {
      flex-basis: 50%;
    }
  }

  @media all and (max-width: 400px) {
    .container > li {
      flex-basis: 100%;
    }
    .search {
      order: 1;
    }
  }